#header{
    background-color: lightblue;
    text-align: center;
    box-shadow: 0px 7px 14px -1px rgba(0,0,0,0.75);
}
.carta{
    text-align: center;
    display: inline-block;
    margin: 5px;
    width: 18rem;
    padding-top: 5px;
    max-height: 190px;
    min-height: 190px;
}
.escudoCarta{
    width: 70px;
    height: 70px;
    max-width: 70px;
    min-width: 70px;
    margin: auto;
}
#container{
    text-align: center;
    margin-top: 15px;
}
.btn{
    margin-left: 2px;
}