#header{
    background-color: lightblue;
    text-align: center;
    box-shadow: 0px 7px 14px -8px rgba(0,0,0,0.75);
}
.carta{
    text-align: center;
    display: inline-block;
    margin: 5px;
    width: 18rem;
    padding-top: 5px;
    max-height: 190px;
    min-height: 190px;
    box-shadow: 0px 7px 10px -5px rgba(0,0,0,0.75);
}
.escudoCarta{
    width: 70px;
    height: 70px;
    max-width: 70px;
    min-width: 70px;
    margin: auto;
}
#container{
    text-align: center;
    margin-top: 15px;
}
.button{
    margin-left: 2px;
}
#info-equipo{
    text-align: center;
}
#escudo-ver{
    width: 50px;
    height: 50px;
    justify-content: left;
}
